@model ProfitManager.Fabrica.Entidade.Evento

@for (int i = 0; i < Model.ListEventoOperacao.Length; i++)
{
    @Html.HiddenFor(x => x.ListEventoOperacao[i].Id)
    @Html.HiddenFor(x => x.ListEventoOperacao[i].ContaContabil.Id)
    @Html.HiddenFor(x => x.ListEventoOperacao[i].Tipo)
}

<div class="responsive-table" style="max-height: 300px; overflow: auto;">
    <table id="datatables-example" class="table table-bordered">
        <thead>
            <tr style="color:#fff; background-color: #6A5ACD;">
                <th>
                    Tipo
                </th>
                <th>
                    Conta contábil
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListEventoOperacao)
            {
                <tr class="linhatabela">
                    <td>
                        @item.Tipo
                    </td>
                    <td>
                        @item.ContaContabil.NomeNormalizado
                    </td>
                    <td style="width: 15%; text-align: center">
                        <a href="#" class="excluiroperacao" type="submit" data-id="@item.GetHashCode()"><img src="../../Images/file_delete.png" data-id="@item.GetHashCode()" width=20 alt="apagar registro"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>