@using ProfitManager.Fabrica.Enum
@model ProfitManager.Fabrica.Entidade.ContaContabil

@{
    ViewBag.Title = "KALUB - Extrato de Conta";
    if (ViewBag.Mobile)
    {
        Layout = "~/Views/Shared/_LayoutRestritoUserMobile.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutRestritoUser.cshtml";
    }

    int ano = DateTime.Now.Year;
    int mes = DateTime.Now.Month;
}

<style type="text/css">
    .ui-datepicker-calendar .ui-state-active {
        background: #2c4970;
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
        color: #e0e0e0;
        text-shadow: 0px 1px 0px #4d7a85;
        filter: dropshadow(color=#4d7a85, offx=0, offy=1);
        border: 1px solid #55838f;
        position: relative;
        margin: -1px;
    }
    .ui-datepicker select.ui-datepicker-month,
    .ui-datepicker select.ui-datepicker-year {
        background: #2c4970;
        color: #fff;
        width: 45%;
    }
    .ui-datepicker-calendar {
    display: none;
    }
</style>

@if (ViewBag.Mobile)
{
    <nav class="navbar navbar-default header navbar-fixed-top" style="height: 30px">
        <div class="col-md-12 nav-wrapper " style="text-align: center; width: 100%;padding-top: 15px;">
            <span><img src="../../Images/kalub-logo-home.png" width="120" /></span><br/>
        </div>
    </nav>
}

<div id="content" class="hidden-xs">
    <div class="tabs-wrapper text-center">
        <div class="panel box-shadow-none text-left content-header">
            <div class="panel-body">
                <div class="col-sm-4" style="padding-top: 55px;">
                    <p class="animated fadeInLeft">
                        <a href="/PrincipalUser" style="font-size: 1.0em !important; color: #fff;">Home</a> <span class="fa-angle-right fa"></span> Relatórios/Extrato de Conta
                    </p>

                </div>
                <div style="text-align: right; padding-top: 38px; padding-left: 86%;">
                    <table width="190" height="40" border="1px" bordercolor="#fff">
                        <tr>
                            <td style="text-align: right; ">
                                <span style="padding-right: 20px;">Dinheiro em Caixa</span>
                                <p style="padding-top: 10px;"><span style="padding-right: 20px; font-weight: bold;font-size: 20px;">R$ @string.Format("{0:#,##0}", ViewBag.TotalSaldoinicialDiaAnteiorContaCaixa)</span></p>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div align="center" class="hidden-xs">
    <div class="panel " style="width: 300px;">
        <div class="panel-body">
            <div class="panel-heading2" >
                <h4 class="modal-title"><font color="white"><b>Extrato de Conta</b></font></h4>
            </div>
            @using (Html.BeginForm("SetDataBalancete", "ExtratoConta", FormMethod.Post, new { id = "formExtratoConta", name = "formExtratoConta", target = "_blank" }))
            {

                @Html.Partial("ExceptionNotification")

                <div class="" style="text-align: left">

                    <div style="margin-bottom: 15px">
                        <h4><span class="fa-calendar fa "></span>&nbsp;&nbsp; Informe mês/ano</h4>
                    </div>

                    <div class="form-animate-radio">
                        <label class="radio">
                            <input id="radio1" value="01/@mes/@ano" type="radio" name="DataInicial" onclick="ResetFormValues(); document.getElementById('exibeoutromes').style.display = 'none';" />
                            <span class="outer">
                                <span class="inner"></span>
                            </span> Mês Atual (@mes/@ano)
                        </label>
                        <label class="radio">
                            <input id="radio2" type="radio" value="" name="DataInicial" onclick="javascript: exibe('exibeoutromes');" />
                            <span class="outer">
                                <span class="inner"></span>
                            </span> Outro Mês
                        </label>
                    </div>

                    <div class="form-group" style="display: none;" id="exibeoutromes" name="exibeoutromes">
                        @*<select name="DataAtual" style="width: 270px;">
                            <option value="">Selecione mês e ano</option>
                            <option value="01/01/@ano">Janeiro/@ano</option>
                            <option value="01/02/@ano">Fevereiro/@ano</option>
                            <option value="01/03/@ano">Março/@ano</option>
                            <option value="01/04/@ano">Abril/@ano</option>
                            <option value="01/05/@ano">Maio/@ano</option>
                            <option value="01/06/@ano">Junho/@ano</option>
                            <option value="01/07/@ano">Julho/@ano</option>
                            <option value="01/08/@ano">Agosto/@ano</option>
                            <option value="01/09/@ano">Setembro/@ano</option>
                            <option value="01/10/@ano">Outubro/@ano</option>
                            <option value="01/11/@ano">Novembro/@ano</option>
                            <option value="01/12/@ano">Dezembro/@ano</option>
                        </select>*@
                        <input id="datepicker" name="DataAtual" type="text" placeholder="mês/ano" style="font-size: 18px; " value="">

                    </div>

                    <div style="margin-bottom: 15px; padding-top: 10px;">
                        @Html.DropDownList("IdConta", (IEnumerable<SelectListItem>)ViewBag.ListaContaContabil, "Selecione uma conta", new { @style = "width:270px;" })
                    </div>


                </div>
                <div class="modal-footer" style="text-align: center;">
                    @if (ViewBag.diasVencimento <= 0 && ViewBag.status == EnumEmpresaStatus.Gratis)
                    {
                        <button type="submit" value="Entrar" disabled="disabled" id="Entrar" class="btn btn-primary">Gerar Extrato</button>
                    }
                    else
                    {
                        <button type="submit" value="Entrar" id="Entrar" onclick="return validaForm()" class="btn btn-primary">Gerar Extrato</button>
                    }

                </div>

            }
        </div>
    </div>
</div>

<div class="hidden-lg" style="padding-top: 20px; padding-right: 10px; padding-left: 10px;">
    <div class="alert alert-default fade in" role="alert">
        <div class="alert alert-success fade in" role="alert" style="font-weight: bold; font-size: 20px;">
            Extrato de Conta
        </div>
        @using (Html.BeginForm("SetDataBalancete", "ExtratoConta", FormMethod.Post, new {id = "formExtratoContaMobile", name = "formExtratoContaMobile" }))
        {

            @Html.Partial("ExceptionNotification")

            <div class="" style="text-align: left; padding-top: 10px;">

                <div style="margin-bottom: 15px">
                    <h4><span class="fa-calendar fa "></span>&nbsp;&nbsp; Informe mês/ano</h4>
                </div>

                <div class="form-animate-radio">
                    <label class="radio">
                        <input id="radio1" value="01/@mes/@ano" type="radio" name="DataInicial" onclick="ResetFormValuesMobile(); document.getElementById('exibeoutromesmobile').style.display = 'none';"/>
                        <span class="outer">
                            <span class="inner"></span>
                        </span> Mês Atual (@mes/@ano)
                    </label>
                    <label class="radio">
                        <input id="radio2" type="radio" value="" name="DataInicial" onclick="javascript: exibeMobile('exibeoutromesmobile');"/>
                        <span class="outer">
                            <span class="inner"></span>
                        </span> Outro Mês
                    </label>
                </div>

                <div class="form-group" style="display: none;" id="exibeoutromesmobile" name="exibeoutromesmobile">
                    @*<select name="DataAtual" style="width: 270px;">
                        <option value="">Selecione mês e ano</option>
                        <option value="01/01/@ano">Janeiro/@ano</option>
                        <option value="01/02/@ano">Fevereiro/@ano</option>
                        <option value="01/03/@ano">Março/@ano</option>
                        <option value="01/04/@ano">Abril/@ano</option>
                        <option value="01/05/@ano">Maio/@ano</option>
                        <option value="01/06/@ano">Junho/@ano</option>
                        <option value="01/07/@ano">Julho/@ano</option>
                        <option value="01/08/@ano">Agosto/@ano</option>
                        <option value="01/09/@ano">Setembro/@ano</option>
                        <option value="01/10/@ano">Outubro/@ano</option>
                        <option value="01/11/@ano">Novembro/@ano</option>
                        <option value="01/12/@ano">Dezembro/@ano</option>
                    </select>*@
                    <input id="datepicker" name="DataAtual" type="text" placeholder="mês/ano" style="font-size: 18px; " value="">

                </div>

                <div style="margin-bottom: 15px; padding-top: 10px;">
                    @Html.DropDownList("IdConta", (IEnumerable<SelectListItem>) ViewBag.ListaContaContabil, "Selecione uma conta", new {@style = "width:270px;"})
                </div>


            </div>
            <div class="modal-footer" style="text-align: center;">
                @if (ViewBag.diasVencimento <= 0 && ViewBag.status == EnumEmpresaStatus.Gratis)
                {
                    <button type="submit" value="Entrar" disabled="disabled" id="Entrar" class="btn btn-round btn-success">Gerar Extrato</button>
                }
                else
                {
                    <button type="submit" value="Entrar" id="Entrar" onclick="return validaFormMobile()" class="btn btn-round btn-success">Gerar Extrato</button>
                }

            </div>

        }


    </div>

    
</div>


@section Scripts{
<script>

    $(document).ready(function () {

        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'mm/yy',
            minDate: new Date(2016, 1 - 1, 1),
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });
    });

        function validaForm() {
            d = document.formExtratoConta;
            if (d.DataInicial[0].checked == false
                && d.DataInicial[1].checked == false) {
                $.simplyToast('danger', 'O mês atual não foi informado!');
                return false;
            }
            if (d.DataInicial[1].checked && d.DataAtual.value == "") {
                $.simplyToast('danger', 'O mês e ano não foi informado!');
                return false;
            }
            if (d.IdConta.value == "") {
                $.simplyToast('danger', 'Selecione uma conta contabil!');
                return false;
            }
        };
        function validaFormMobile() {
            d = document.formExtratoContaMobile;
            if (d.DataInicial[0].checked == false
                && d.DataInicial[1].checked == false) {
                $.simplyToast('danger', 'O mês atual não foi informado!');
                return false;
            }
            if (d.DataInicial[1].checked && d.DataAtual.value == "") {
                $.simplyToast('danger', 'O mês e ano não foi informado!');
                return false;
            }
            if (d.IdConta.value == "") {
                $.simplyToast('danger', 'Selecione uma conta contabil!');
                return false;
            }
        };
        function exibe(id) {
            if (document.getElementById(id).style.display == "none") {
                document.getElementById(id).style.display = "inline";
            }
            else {
                document.getElementById(id).style.display = "none";
            }
        }
        function exibeMobile(id) {
            if (document.getElementById(id).style.display == "none") {
                document.getElementById(id).style.display = "inline";
            }
            else {
                document.getElementById(id).style.display = "none";
            }
        }
        function ResetFormValues() {
            $("select").each(function () {
                $('DataAtual').val("");
                $('DataAtual').value = "";
            });
        }
        function ResetFormValuesMobile() {
            $("select").each(function () {
                $('DataAtual').val("");
                $('DataAtual').value = "";
            });
        }

</script>

}
